@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #159e99;
}

body {
  background: rgba(72, 202, 154, 0.06);
  margin: 0 auto;
  font-family: "Poppins";
  max-width: 1250px;
}

.background-top {
  max-width: 1250px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/BodyBackGround.svg");
  background-repeat: no-repeat;
  z-index: -1;
  background-size: contain;
}

.navbar .nav-logo {
  width: 9em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 3%;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.hero .left-col a {
  text-decoration: underline;
}

.hero .left-col button {
  background-color: var(--primary-color);
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

.hero .head {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.hero .subhead {
  font-size: 12px;
}

.hero .hero-cta img {
  width: 36%;
  max-width: 150px;
  min-width: 100px;
}

.hero .hero-img {
  width: 65%;
  max-width: 500px;
}

.hero .play-button {
  display: none;
}

.digital-factoring {
  padding-top: 10%;
}

.digital-factoring .container {
  text-align: center;
  padding: 0 2em 0 2em;
}

.digital-factoring .container .digital-title {
  margin-bottom: 50px;
}

.digital-factoring .container ul {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  padding: 40px;
}

.digital-factoring .container ul li {
  padding: 40px;
  font-size: 12px;
  text-align: center;
}

.digital-factoring .container ul li .img1 {
  position: relative;
  width: 65%;
}

.digital-factoring .container ul li .img2 {
  position: relative;
  width: 85%;
}

.digital-factoring .container ul li .img3 {
  position: relative;
  width: 85%;
}

.digital-factoring .container ul li .img4 {
  position: relative;
  width: 135%;
}

.digital-factoring .container ul .trust p {
  position: relative;
  left: 20%;
}

.background-mid-top {
  background: white;
  max-width: 1250px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/BodyMidBackGround.svg");
  background-repeat: no-repeat;
  z-index: -1;
  background-size: contain;
}

.digital-process {
  padding-top: 10%;
  text-align: center;
}

.digital-process .container {
  margin: 0 1em 0 1em;
}

.digital-process .container button {
  position: relative;
  background-color: var(--primary-color);
  /* Green */
  border: none;
  color: white;
  padding: 1% 3%;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  font-size: 95%;
}

.digital-process .process-img {
  width: 100%;
}

.digital-process .process-img-mobile {
  display: none;
  width: 80%;
}

.solutions {
  padding-top: 10%;
  text-align: center;
  background: white;
}

.solutions .container .titles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 20px;
}

.solutions .container .images {
  margin-left: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 40px;
}

.solutions .container .images img {
  width: 80%;
}

.solutions .container .buttons button {
  position: relative;
  background-color: var(--primary-color);
  /* Green */
  border: none;
  color: white;
  padding: 1.5% 2%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-size: 95%;
  margin-right: 15%;
  margin-left: 15%;
}

.platforms {
  margin-top: 10%;
  background: white;
  text-align: center;
  background-image: url("../images/fotterTop.svg");
  max-width: 1250px;
  width: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
}

.platforms .container {
  padding: 50px;
}

.platforms .container button {
  position: relative;
  background-color: var(--primary-color);
  /* Green */
  border: none;
  color: white;
  padding: 1.5% 2%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-size: 95%;
  margin-right: 15%;
  margin-left: 15%;
}

.platforms .container img {
  margin-top: 30px;
  width: 45%;
}

.capital {
  background: white;
}

.capital .container {
  padding: 10%;
}

.capital .container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  padding: 20px;
}

.capital .container .content .left-map iframe {
  width: 95%;
  height: 95%;
  border: none;
  border-radius: 4px;
}

.capital .container .content .right-contact-us input[type=submit] {
  background-color: var(--primary-color);
  border: none;
  text-decoration: none;
  color: white;
  padding: 15px;
  width: 70%;
  border-radius: 5px;
  cursor: pointer;
}

.capital .container .content .right-contact-us input[type=submit]:hover {
  background: #3cb0fd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3cb0fd), to(#3498db));
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.capital .container .content .right-contact-us form div {
  margin-bottom: 10px;
}

.capital .container .content .right-contact-us form .inputWithIcon {
  position: relative;
}

.capital .container .content .right-contact-us form .inputWithIcon input[type='email'], .capital .container .content .right-contact-us form .inputWithIcon input[type='text'] {
  width: 90%;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px 0px 10px 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0 0 rgba(0, 0, 0, 0.19);
}

.capital .container .content .right-contact-us form .inputWithIcon textarea {
  width: 83%;
  resize: none;
  padding: 5px 0 0 20px;
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0 0 rgba(0, 0, 0, 0.19);
}

.capital .container .content .right-contact-us form .inputWithIcon i {
  position: absolute;
  left: 2px;
  margin-top: 10px;
  color: #aaa;
}

.capital .container .content .right-contact-us form .first-row {
  height: 20px;
}

.capital .container .content .right-contact-us form .first-row input[type='text'] {
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px 0px 10px 20px;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0 0 rgba(0, 0, 0, 0.19);
}

.capital .container .content .right-contact-us form .first-row .inputWithIcon {
  position: relative;
}

.capital .container .content .right-contact-us form .first-row .inputWithIcon i {
  position: absolute;
  left: 2px;
  color: #aaa;
}

.capital .container .content .right-contact-us form .first-row .left {
  float: left;
  width: 40%;
}

.capital .container .content .right-contact-us form .first-row .right {
  float: right;
  width: 40%;
  margin-right: 10%;
}

.capital .container .content .right-contact-us .btn:link,
.capital .container .content .right-contact-us .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  display: inline-block;
  border-radius: 6px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  width: 81%;
}

.capital .container .content .right-contact-us .btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.capital .container .content .right-contact-us .btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.capital .container .content .right-contact-us .btn-white {
  background: var(--primary-color);
  color: white;
}

.capital .container .content .right-contact-us .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.capital .container .content .right-contact-us .btn-white::after {
  background-color: var(--primary-color);
}

.capital .container .content .right-contact-us .btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.capital .container .content .right-contact-us .btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.contact-details {
  text-align: center;
  background-image: url("../images/fotterbot.svg");
  max-width: 1250px;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
}

.contact-details .container {
  padding: 10%;
}

.contact-details .container .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 20px;
}

.contact-details .container .images img {
  width: 70%;
}

.contact-details .container .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 20% 40%;
      grid-template-columns: 33% 20% 40%;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto auto;
      grid-template-columns: 40% auto auto;
  padding: 20px;
}

.footer .container ul {
  text-decoration: underline;
}

.footer .bottom-fotter {
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: var(--primary-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 20px;
}

.footer .bottom-fotter p {
  color: gray;
}

.footer .bottom-fotter ul li {
  display: inline;
  padding: 2%;
}

@media only screen and (max-width: 836px) {
  .navbar .container .secondary-nav {
    font-size: 14px;
  }
  .navbar .hero .container .hero-img {
    left: 150px;
  }
  .solutions .container .buttons button {
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 666px) {
  .digital-factoring .container ul {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .capital .container .content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media only screen and (max-width: 520px) {
  .digital-factoring .container ul {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .solutions .container .buttons button {
    margin-right: 5%;
    margin-left: 5%;
  }
  .platforms .container {
    font-size: 10px;
  }
}

@media only screen and (max-width: 334px) {
  .digital-factoring .container ul {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .digital-process .process-img {
    display: none;
  }
  .digital-process .process-img-mobile {
    display: inline;
    width: 80%;
  }
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: lightblue;
  height: 100vh;
  padding: 1em;
}

nav .secondary-nav {
  margin-top: 5em;
}

nav li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 781px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    margin-right: 50px;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav ul li {
    margin-top: 10px;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav .secondary-nav {
    margin: 0px 0em 0 2em;
  }
  .navbar nav button {
    background-color: var(--primary-color);
    /* Green */
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: -8px;
  }
  .hero .container {
    max-width: 75%;
    margin-left: 10%;
    padding: 2% 1% 0 1%;
  }
  .hero .container .left-col {
    width: 120%;
    margin-left: 25%;
  }
  .hero .container .left-col h1, .hero .container .left-col p {
    width: 300px;
  }
  .hero .container .left-col p {
    width: 400px;
  }
  .hero .container .left-col .info, .hero .container .left-col .right {
    font-size: 10px;
  }
  .hero .container .left-col .right {
    margin-left: 5px;
  }
  .hero .container .left-col .hero-cta .phone-apps {
    float: left;
  }
  .hero .container .left-col .play-button {
    display: inline;
    position: relative;
    bottom: 45px;
    left: 190px;
  }
  .hero .container .left-col .play-button img {
    width: 45px;
    height: 45px;
  }
  .hero .container .hero-img {
    position: relative;
    margin-left: 90px;
    width: 57%;
    bottom: 30px;
    left: 210px;
    max-width: 1000px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.green-text {
  color: var(--primary-color);
}
/*# sourceMappingURL=main.css.map */